html {
  background-color: #242424;
  color: #fff;
}

.main {
  width: 40%;
  margin: auto;
}

.wall {
  background-color: #fff;
  position: absolute;
}

.player {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
}

.trail {
  position: absolute;
}